@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}
@media only screen and (max-width: 480px) {
  body {
    background-image: url("./bg-01.svg");
    background-size: cover;
    background-repeat: repeat;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1366px) {
  body {
    background-image: url("./bg-02.svg");
    background-size: cover;
    background-repeat: repeat;
  }
}
@media only screen and (min-width: 1366px) {
  body {
    background-image: url("./bg-03.svg");
    background-size: contain;
    background-repeat: repeat;
  }
}