#input__text, #translation__text {
    font-family: $primary-font;
    width: 40vmin;
    height: 25vmin;
    background-color: $primary-color;
    border-radius: 1vmin;
    border: none !important;
    color: $secondary-color;
    padding:5vmin;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

#input__text:focus{
    background-color: $secondary-color;
    color: $primary-color;
    transition: background-color 0.5s, color 1s ease-in-out;
}

.btn{
    border-radius: 10vmin;
    background: $primary-color;
    border: none !important;
    height: 15vmin;
    width: 25vmin;
    color: whitesmoke;
    margin: 2vmin;
}
.btn:hover{
    background-color: $secondary-color;
    color: $primary-color;
    transition: background-color 0.5s, color 1s ease-in-out;
}