#input, #translation {
    font-family: $primary-font;
    width: 40vmin;
    height: 25vmin;
    background-color: $primary-color;
    border-radius: 1vmin;
    border: none !important;
}

.btn{
    border-radius: 10vmin;
    background: $primary-color;
    border: none !important;
    height: 15vmin;
    width: 25vmin;
    color: whitesmoke;
}