body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
body h1 {
  grid-area: 1/1/1/6;
  text-align: center;
}
body .input {
  grid-area: 2/1/2/4;
}
@media only screen and (max-width: 1026px) {
  body .input {
    grid-area: 2/1/2/6;
  }
}
body .translation {
  grid-area: 2/3/2/6;
}
@media only screen and (max-width: 1026px) {
  body .translation {
    grid-area: 3/1/3/6;
  }
}
body .input, body .translation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .button {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  grid-area: 4/1/5/6;
}