@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}
@media only screen and (max-width: 480px) {
  body {
    background-image: url("./bg-01.svg");
    background-size: cover;
    background-repeat: repeat;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1366px) {
  body {
    background-image: url("./bg-02.svg");
    background-size: cover;
    background-repeat: repeat;
  }
}
@media only screen and (min-width: 1366px) {
  body {
    background-image: url("./bg-03.svg");
    background-size: contain;
    background-repeat: repeat;
  }
}

#input__text, #translation__text {
  font-family: "Poppins", sans-serif;
  width: 40vmin;
  height: 25vmin;
  background-color: #110638;
  border-radius: 1vmin;
  border: none !important;
  color: #f1e1ec;
  padding: 5vmin;
  text-align: center;
}

#input__text:focus {
  background-color: #f1e1ec;
  color: #110638;
  transition: background-color 0.5s, color 1s ease-in-out;
}

.btn {
  border-radius: 10vmin;
  background: #110638;
  border: none !important;
  height: 15vmin;
  width: 25vmin;
  color: whitesmoke;
  margin: 2vmin;
}

.btn:hover {
  background-color: #f1e1ec;
  color: #110638;
  transition: background-color 0.5s, color 1s ease-in-out;
}

body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
body h1 {
  grid-area: 1/1/1/6;
  text-align: center;
}
body .input {
  grid-area: 2/1/2/4;
}
@media only screen and (max-width: 1026px) {
  body .input {
    grid-area: 2/1/2/6;
  }
}
body .translation {
  grid-area: 2/3/2/6;
}
@media only screen and (max-width: 1026px) {
  body .translation {
    grid-area: 3/1/3/6;
  }
}
body .input, body .translation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .button {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  grid-area: 4/1/5/6;
}